*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height:100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    border: 10xp solid black;
    border-radius: 20px;
    padding: 20px;
    background: linear-gradient(to left bottom, rgb(30, 67, 201), rgb(87, 87, 253));
}
#screen{
    width: 100%;
    text-align: right;
    height:50px;
}
button{
    width:40px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}
/* Laast row */
.row {
    display: flex;
}
.row>:nth-child(2) {
    margin-left: .5rem;
}
.row>:last-child{
    margin-left: .8rem;
    flex-grow: 1;
}


